:root {
  --color_dark: #fff;
  --color_light: #000;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px;
}

.section-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.home-page {
  background-image: url("../assets/mainImg.png");
}

.hero {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
}

.section-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  justify-content: center;
}

.home-container {
  height: 100%;
  padding: 20px;
}

.home--title {
  max-width: 583px;
  width: 100%;
  font-family: "Grange";
  font-family: grange-extended, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  text-align: center;
  color: #FFFFFF;
}

.home--description {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  max-width: 327px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px;
  gap: 16px;
  z-index: 1000;
}

.home--button {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1C2635;
  padding: 14px 40px;
  background: #C4EDFF;
  border-radius: 8px;
  border: none;
}

.question--title {
  max-width: 583px;
  width: 100%;
  height: 88px;
  font-family: "Grange";
  font-family: grange-extended, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  text-align: center;
  color: #1C2635;
}

.question-container {
  position: relative;
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  max-width: 583px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.question-page {
  width: 100%;
  height: 100vh;
}

.question__position {
  position: absolute;
  width: 101px;
  height: 101px;
  right: -230px;
}

.ellipse {
  /* Ellipse 3 */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 101px;
  height: 101px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  border: 4px solid #EEF7FB;
}

.question--number {
  width: 24px;
  height: 24px;
  font-family: "Proxima Nova";
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #1C2635;
}

.ellipse--number {
  position: absolute;
  width: 101px;
  height: 101px;
  right: -100px;
  border-radius: 50%;
  border: 4px solid #AADDF3;
}

.answer--button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 199px;
  height: 44px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px 40px 14px 20px;
  gap: 8px;
  border: 1px solid #5BC1ED;
  border-radius: 8px;
  background-color: #fff;
  font-family: "Proxima Nova";
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #1C2635;
}

.active {
  background-color: #C4EDFF;
  color: #000;
}

.answers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  margin-top: 40px;
}

.back--button {
  font-family: "Proxima Nova";
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #677487;
}

.back--button:hover {
  cursor: pointer;
}

.navigate-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.next--button {
  /* Frame 1 */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 40px;
  gap: 10px;
  background: #C4EDFF;
  border-radius: 8px;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1C2635;
  border: none;
}

.result-container {
  padding: 120px 0;
  max-width: 100%;
  background-image: url("../assets/resultBg.png");
  width: 100%;
  background-size: cover;
  background-position: center;
}
.result-container .home--description {
  max-width: 563px;
  line-height: 150%;
}
.result-container .content {
  gap: 32px;
}

.retake-btn {
  /* Frame 89 */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 238px;
  height: 47px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding: 14px 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
}

.result-product {
  padding-top: 40px;
  position: relative;
  top: -100px;
  z-index: 1000;
  align-items: center;
  padding-bottom: 400px;
}

.result-product,
.product-slider {
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.result-product__text-wrapper {
  width: 350px;
  height: 420px;
  background: #EEF7FB;
  border-radius: 8px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.product-card {
  background-color: #fff;
  width: 350px;
  height: 420px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0;
  position: relative;
}

.product-slider {
  overflow-x: scroll;
  width: 760px;
}

.product-slider img {
  width: 350px;
  height: 345px;
  border-radius: 8px;
}

.product--title {
  /* Daily routine */
  overflow: hidden;
  font-family: "Grange";
  font-family: grange-extended, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  /* or 26px */
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #1C2635;
}

.product--description {
  /* Perfect for if you're looking for soft, nourished skin, our moisturizing body washes are made with skin-natural nutrients that work with your skin to replenish moisture. With a light formula, the bubbly lather leaves your skin feeling cleansed and cared for. And by choosing relaxing fragrances you can add a moment of calm to the end of your day. */
  height: 286px;
  overflow: scroll;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1C2635;
  text-align: start;
}

.prev-btn {
  width: 40.06px;
  height: 40.06px;
  background: #EEF7FB;
  border: none;
  border-radius: 30.03px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  background-color: #F6F6F6;
  width: 350px;
  height: 345px;
  border-radius: 8px;
}

.product-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
  width: 350px;
  height: 57px;
}
.product-text-wrapper .product--title {
  /* Milk Body Cleanser */
  display: flex;
  align-items: start;
  width: 350px;
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
  color: #1C2635;
}

.heart {
  /* favorite */
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2000;
  color: #1C2635;
}

.heart svg {
  width: 24px;
  height: 24px;
}

.price {
  /* $14.00 */
  width: 350px;
  height: 25.5px;
  font-family: grange-extended, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  /* or 20px */
  text-align: center;
  color: #1C2635;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: proxima-nova, sans-serif;
}/*# sourceMappingURL=style.css.map */